{% extends "layout_default.html.twig" %}

{% block meta_title %}
    {{ 'System health'|trans }}
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% set active_menu = 'system' %}

{% set checks = admin.health_list_grouped_checks %}
{% set checkTypes = {3: 'Successful', 2: 'Warnings', 1: 'Needing attention', 0: 'Unknown status'} %}

{% block content %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
                {{ 'System health'|trans }}
            </h2>
        </div>

        <div class="col-auto ms-auto d-print-none">
            <a href="{{ 'api/admin/health/run_checks'|link }}" class="btn btn-primary api-link" data-api-reload="1">
                <svg class="icon">
                    <use xlink:href="#refresh"/>
                </svg>
                Re-run the checks
            </a>
        </div>
    </div>

    <div class="page-body">
        <ul class="nav nav-bordered mb-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Checks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Latest runs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>

        <div class="row">
            {% for status, checkType in checkTypes %}
                <div class="col-12 col-md-6 col-lg">
                    <h2 class="mb-3">{{ checkType }}</h2>
                    {% set checksOfType = checks[status] %}
                    {% for name, check in checksOfType %}
                        <div class="card card-sm">
                            <div class="card-status-top {% if status == 3 %} bg-green{% elseif status == 2 %} bg-warning{% elseif status == 1 %} bg-danger{% elseif status == 0 %} bg-blue{% endif %}"></div>
                            <div class="card-body">
                                <h3 class="card-title">{{ check.details.title }}</h3>
                                {% if status == 0 %}
                                    This check hasn't been run yet.
                                {% else %}
                                    {{ check.latest.result.short_desc }}
                                    <div class="mt-4">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                                <a href="#" class="link-muted">
                                                    <svg class="icon">
                                                        <use xlink:href="#clock"/>
                                                    </svg>
                                                    {{ check.latest.timestamp|timeago }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
